* {
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Work Sans", sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  margin: 50px 100px;
}
nav ul {
  list-style: none;
  display: flex;
}
nav li {
  margin-left: 40px;
}
#name-style {
  color: orange;
}
.btn-style {
  background-color: orange;
  transition: background-color 0.5s;
  color: white;
  border-radius: 5px;
  border-color: orange;
  padding: 5px 8px;
}
button:hover {
  background-color: coral;
}
